.react-magnify {
  width: 400px;
  height: 400px;
  position: relative;
}

.magnify-view {
  width: 100%;
  height: 100%;
  position: absolute;
  border: solid 1px transparent;
  overflow: hidden;
  left: 420px;
  img {
    position: absolute;
  }
}

.base-view {
  border: solid 1px #ccc;
  position: relative;

  .slider {
    position: absolute;
    background: #eee;
    opacity: 0.5;
    pointer-events: none;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.thumb-container {
  ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
    }
  }
}
